{{=[[ ]]=}}
#include <string.h>
#include "shim.h"
#include "rpc.h"
#include "frontend.h"
[[#functions]]

void
default_[[name]]_handler(const struct retrace_rpc_endpoint *ep)
{
	printf("(%d:%d %d) [[name]]\n", ep->pid, ep->thread_num, ep->call_num);
}

[[/functions]]

retrace_call_handler_t g_call_handlers[] = {
	[[#functions]]
	default_[[name]]_handler[[^last]],[[/last]]
	[[/functions]]
};
